div.images {
    
    padding: 5px;
}
div.img1{
    border: 2px solid #C0C0C0;
  padding: 5px;
}
img{
    padding: 5px;
    width: 400;
    height: 400;
    display: flex;
}
img:hover {
    box-shadow: 5px 4px 10px #8B0000;
  }
  table, td,tr,th {
    border: 2px solid black;
  }

  .table{
      padding: 5px;
  }
 
  .navbar navbar-dark bg-dark{
      align-items: center;
      position: relative;
  }